@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('Open Sans Light'),
  url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open Sans Regular'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('Gilroy-ExtraBold'),
  url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --special-pink: #f6dada;
  --special-black-active: rgba(0, 0, 0, .3);
  --special-black-scale: rgba(0, 0, 0, .2);
  --special-grey: #ebebeb;
  --special-grey-toggle: #c4c4c4;
  --special-grey-hover: #d9d9d9;
  --special-grey-light: #dcdcdc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-title {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.content-list {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.active {
  display: block;
}

.main-navigation {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 31px;
  background: linear-gradient(var(--basic-white) 40px, var(--special-yellow) 40px);
}

.inner-page .main-header {
  margin-bottom: 34px;
}

.inner-page .main-navigation {
  padding-bottom: 47px;
}

.main-navigation-wrapper {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.main-header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-left: 60px;
  margin-bottom: 15px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus,
.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  opacity: 0.6;
}

.main-header-logo[href]:active,
.main-footer-logo[href]:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 31px;
  padding: 0 60px;
  padding-right: 57px;
  list-style: none;
  text-transform: uppercase;
}

.site-navigation-item {
  margin-left: 35px;
}

.site-navigation-item:last-child {
  margin-left: 107px;
}

.site-navigation-catalog {
  position: relative;
  margin-right: auto;
  margin-left: 0;
}

.site-navigation-submenu {
  position: absolute;
  left: -60px;
  width: 1040px;
  display: none;
  grid-template-columns: repeat(3, max-content);
  min-height: 134px;
  padding: 0  60px;
  padding-top: 9px;
  line-height: 20px;
  list-style: none;
  text-transform: none;
  background-color: var(--special-yellow);
}

.submenu-column {
  padding: 0;
  list-style: none;
}

.submenu-item {
  margin-right: 64px;
  margin-bottom: 16px;
}

.site-navigation-catalog:hover .site-navigation-submenu,
.site-navigation-catalog:focus .site-navigation-submenu,
.site-navigation-link:hover + .site-navigation-submenu,
.site-navigation-link:focus + .site-navigation-submenu  {
  display: grid;
}

.site-navigation-link {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.site-navigation-link[href]:hover,
.site-navigation-link[href]:focus,
.submenu-link[href]:hover,
.submenu-link[href]:focus {
  opacity: 0.6;
}

.site-navigation-link[href]:active,
.submenu-link[href]:active  {
  opacity: 0.3;
}

.search-form {
  display: flex;
  min-height: 50px;
  margin-right: auto;
}

.search-form-input {
  padding: 0;
  padding-left: 38px;
  border: 0;
  outline: none;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  opacity: 0.3;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form-input:focus {
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

.search-form-button {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  outline: none;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

.search-form-input:focus + .search-form-button,
.search-form-button:focus,
.search-form-button:active {
  opacity: 1;;
}

.search-form-button:hover,
.search-form-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form-button:active {
  color: var(--basic-grey);
  background-color: var(--basic-black);
}

.user-block,
.market-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.inner-page .user-block {
  margin-right: 0;
}

.user-block {
  justify-content: space-between;
  margin-right: 151px;
}

.user-block .profile-link {
  margin-right: 20px;
}

.user-block .logout-link {
  padding: 0;
}

.market-block {
  justify-content: space-between;
  justify-self: end;
  width: 219px;
  margin-left: 63px;
}

.user-block a,
.market-block a {
  padding-left: 26px;
}

.user-block a:hover,
.user-block a:focus,
.market-block a:hover,
.market-block a:focus {
  opacity: 0.6;
}

.user-block a:active,
.market-block a:active {
  opacity: 0.3;
}

.promo-content {
  margin-bottom: 96px;
}

.promo-slider {
  margin: 0;
  padding: 0 30px;
  list-style: none;
  background: linear-gradient(var(--special-yellow) 130px, var(--basic-white) 130px);
}

.promo-slider-item {
  display: none;
  grid-template-columns: 525px 560px;
  column-gap: 44px;
}

.slider-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 525px;
  min-height: 510px;
}

.slider-image-wrapper .slider-image-1 {
  margin-right: 22px;
  margin-bottom: 24px;
}

.slider-image-wrapper .slider-image-2 {
  margin-right: 8px;
  margin-top: 25px;
}

.slider-image-wrapper .slider-image-3 {
  margin-left: 2px;
  margin-bottom: 12px;
}

.promo-slider-item.active {
  display: grid;
}

.slider-item-info {
  padding-top: 94px;
}

.promo-slider-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 480px;
  line-height: 20px;
}

.promo-slider-link.button {
  width: 225px;
}

.promo-slider-specification {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: min-content min-content;
  grid-auto-flow: column;
  column-gap: 24px;
  row-gap: 15px; 
  margin: 0;
  margin-top: 52px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.specification-name {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
}

.specification-value {
  font-size: 36px;
  line-height: 42px;
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  outline: none;
}

.button:active {
  color: var(--special-black-active);
}

.categories {
  margin-bottom: 85px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-weight: 800;
  list-style: none;
}

.categories-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-yellow);
  background-repeat: no-repeat;
  background-position: center;
}

.link-vr::before {
  background-image: url(../img/icon-vr.svg);
  background-position: center 52px;
}

.link-monopod::before {
  background-image: url(../img/icon-monopod.svg);
  background-position: center 26px;
}

.link-camera::before {
  background-image: url(../img/icon-camera.svg);
  background-position: center 36px;
}

.link-fitness-tracker {
  letter-spacing: normal;
}

.link-fitness-tracker::before {
  background-image: url(../img/icon-fitness-tracker.svg);
  background-position: 27px 48px;
}

.link-smart-watch::before {
  background-image: url(../img/icon-smart-watch.svg);
}

.link-quadcopter::before {
  background-image: url(../img/icon-quadcopter.svg);
}

.categories-link:active {
  opacity: 0.3;
}

.services {
  background: linear-gradient(var(--basic-white) 99px, var(--basic-grey-light) 99px);
  margin-bottom: 90px;
}

.services-inner {
  display: grid;
  grid-template-columns: 284px 1fr;
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 68px;
  padding-left: 20px;
}

.services-slider {
  margin: 0;
  padding: 0;
  padding-left: 115px;
  list-style: none;
  order: 1;
}

.services-slider-item {
  position: relative;
  display: none;
  padding-top: 70px;
  padding-bottom: 67px;
}

.services-slider-item.active {
  display: block;
}

.service-title {
  margin-bottom: 40px;
}

.service-description {
  margin: 0;
  max-width: 580px;
  letter-spacing: 0.1em;
}

.services-controls {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  border-right: 7px solid var(--basic-black);
  list-style: none;
}

.services-controls-item {
  margin-bottom: 21px;
}

.services-controls-button.button {
  width: 160px;
  padding-left: 2px;
}

.services-controls-button:active,
.services-controls-item.active .services-controls-button {
  width: 280px;
  padding-right: 120px;
  color: var(--special-yellow);
  background: var(--basic-black);
}

.services-slider-item::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: right;
}

.item-delivery::after {
  right: 21px;
  top: 52px;
  background-image: url(../img/icon-delivery.svg);
}

.item-warranty::after {
  right: 4px;
  top: 49px;
  background-image: url(../img/icon-warranty.svg);
}

.item-credit::after {
  right: 28px;
  top: 41px;
  background-image: url(../img/icon-credit.svg);
}

.brands {
  margin-bottom: 82px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-link {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-link:hover,
.brands-link:focus,
.brands-link:active {
  filter: none;
  opacity: 1;
}

.index-content {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
  padding-top: 7px;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 77px;
}

.about-us-title,
.contacts-title {
  margin-bottom: 25px;
}

.about-us-info {
  margin-bottom: 25px;
}

.about-us-list {
  margin-top: 35px;
  margin-bottom: 53px;
  padding-left: 18px;
  list-style: circle;
}

.about-us-list-item {
  padding-left: 14px;
  margin-bottom: 15px;
}

.contacts-info {
  margin-bottom: 38px;
}

.about-us-link,
.contacts-link {
  width: 260px;
  margin-top: auto;
}

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.page-title {
  grid-column: 1/-1;
  padding: 10px 60px;
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  grid-column: 1/-1;
  display: flex;
  padding: 0 60px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 41px;
}

.breadcrumbs-link {
  opacity: 0.3;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.1;
}

.filters-title,
.sorting-title {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter {
  width: 200px;
  padding-left: 60px;
}

.filter ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  border: 0;
}

.filter fieldset:last-of-type {
  margin-top: 42px;
  margin-bottom: 47px;
}

.filters-form legend {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  margin-bottom: 30px;
  border-top: 2px solid var(--basic-black);
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.filter-option {
  padding-left: 43px;
}

.filter-option:not(:last-child) {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -39px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-radio label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-range {
  width: 200px;
}


.range-controls {
  position: relative;
  margin-bottom: 16px;
  padding-top: 9px;
  padding-left: 10px;
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--special-grey-toggle);
  box-shadow: 0px 2px 2px var(--special-black-scale);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 108px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-black-scale);
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background-color: var(--special-green);
}

.filter-range .price-controls {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.price-controls label:not(:last-child) {
  margin-right: 15px;
}

.price-controls input {
  width: 55px;
  background: transparent;
  border: 0;
}

.filter-button {
  width: 200px;
}

.sorting-list,
.direction-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.sorting {
  position: relative;
  display: flex;
  min-height: 70px;
  align-items: center;
  padding-left: 74px;
  margin-bottom: 70px;
}

.sorting::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(50vw + 260px);
  background-color: var(--basic-grey-light);
  z-index: -1;
} 

.sorting-list {
  margin-left: 74px;
  flex-wrap: wrap;
}

.sorting-list-item {
  margin-right: 30px;
}

.direction-list {
  margin-left: auto;
}

.sorting-list-link {
  opacity: 0.3;
}

.sorting-list-link:hover,
.sorting-list-link:focus {
  opacity: 0.6;
}

.direction-list-link {
  opacity: 0.2;
}

.direction-list-link:hover {
  opacity: 0.4;
}

.sorting-list-link:active,
.direction-list-link:active {
  opacity: 1;
}

.filters {
  position: relative;
}

.filters::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50vw - 260px);
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.filters-title {
  position: relative;
  padding: 25px 0;
  padding-left: 60px;
  margin-bottom: 70px;
  z-index: 1;
}

.filters-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50vw - 260px);
  background-color: var(--special-grey-light);
  z-index: -1;
}

.catalog {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  align-content: start;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  column-gap: 40px;
  row-gap: 48px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content max-content;
}

.catalog-item-image {
  grid-column: 1/-1;
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
}

.catalog-item-title {
  width: 275px;
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  order: 1;
}

.catalog-item-price {
  width: 85px;
  text-align: right;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  order: 2;
}

.catalog-item-controls {
  display: none;
  position: absolute;
  top: 170px;
  left: 78px;
  margin: 0;
  text-align: center;
}

.catalog-item:first-child .catalog-item-controls {
  display: block;
}

.add-to-cart-link {
  width: 200px;
  margin-bottom: 7px;
}

.add-to-compare-link {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.add-to-compare-link:hover,
.add-to-compare-link:focus {
  opacity: 1;
}

.add-to-compare-link:active {
  opacity: 0.2;
}

.pagination{
  display: flex;
  min-width: 760px;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 78px;
  margin-left: auto;
  list-style: none;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  background-color: var(--special-grey);
}

.pagination-item a {
  display: block;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link-number {
  margin-right: 30px;
}

.pagination-item:nth-last-child(-n+2) .pagination-link-number {
  margin-right: 0;
}

.pagination-link-back,
.pagination-link-next {
  min-width: 120px;
}

.pagination-item-back {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-link-back[href]:hover,
.pagination-link-next[href]:hover,
.pagination-link-back[href]:focus,
.pagination-link-next[href]:focus {
  background-color: var(--special-grey-hover);
}

.pagination-link-back[href]:active,
.pagination-link-next[href]:active {
  color: var(--special-black-active);
}

.pagination-link-number[href] {
  opacity: 0.3;
}

.pagination-link-number[href]:hover,
.pagination-link-number[href]:focus {
  opacity: 0.6;
}

.pagination-link-number[href]:active {
  opacity: 1;
}

.main-footer {
  padding-top: 45px;
  padding-bottom: 65px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-footer .container {
  display: grid;
  grid-template-columns: auto auto min-content;
}

.main-footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: 19px;
  margin-bottom: 40px;
}

.main-footer-logo path {
  fill: var(--special-yellow-dark);
}

.main-footer .user-block {
  justify-self: end;
  margin-right: 40px;
}

.main-footer .market-block {
  margin-left: 0;
}

.footer-address,
.footer-phone {
  margin: 0;
  max-width: 300px;
  line-height: 20px;
}

.footer-phone {
  margin-left: auto;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 426px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 60px;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  opacity: 0.6;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-social {
  grid-column: 2/3;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 135px;
  padding: 0;;
  list-style: none;
}

.footer-social-link {
  opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.footer-copyright {
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  opacity: 0.6;
}

.footer-copyright-link:active {
  opacity: 0.3;
}

.modal {
  display: none;
}

.modal-close {
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}