@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('Open Sans Light'),
  url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open Sans Regular'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('Gilroy-ExtraBold'),
  url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --special-pink: #f6dada;
  --special-black-active: rgba(0, 0, 0, .3);
  --special-black-scale: rgba(0, 0, 0, .2);
  --special-black-shadow: rgba(0, 0, 0, 0.15);
  --special-grey: #ebebeb;
  --special-grey-toggle: #c4c4c4;
  --special-grey-hover: #d9d9d9;
  --special-grey-light: #dcdcdc;
  --special-grey-input: #f2f2f2;
  --font-family-gilroy: 'Gilroy', 'Arial', sans-serif;
  --font-family-opensans: 'Open Sans', 'Arial', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%; 
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family-opensans);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-title {
  margin: 0;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.content-list {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 16px;
}

.active {
  display: block;
}

.main-navigation {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 31px;
  background: linear-gradient(var(--basic-white) 40px, var(--special-yellow) 40px);
}

.inner-page .main-header {
  margin-bottom: 34px;
}

.inner-page .main-navigation {
  padding-bottom: 48px;
}

.main-navigation-wrapper {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.main-header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-left: 60px;
  margin-bottom: 15px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus,
.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  opacity: 0.6;
}

.main-header-logo[href]:active,
.main-footer-logo[href]:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0 60px;
  padding-right: 57px;
  list-style: none;
  text-transform: uppercase;
}

.site-navigation-item {
  margin-left: 35px;
}

.site-navigation-item:last-child {
  margin-left: 107px;
}

.site-navigation-catalog {
  position: relative;
  margin-right: auto;
  margin-left: 0;
  z-index: 2;
}

.site-navigation-catalog a {
  position: relative;
  padding-right: 38px;
}

.site-navigation-catalog .site-navigation-link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 100%;
  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.site-navigation-submenu {
  position: absolute;
  left: -60px;
  width: 1040px;
  display: none;
  grid-template-columns: repeat(3, max-content);
  min-height: 134px;
  padding: 0  60px;
  padding-top: 9px;
  line-height: 20px;
  list-style: none;
  text-transform: none;
  background-color: var(--special-yellow);
}

.submenu-column {
  padding: 0;
  list-style: none;
}

.submenu-item {
  margin-right: 64px;
  margin-bottom: 16px;
}

.site-navigation-catalog:focus-within .site-navigation-submenu,
.site-navigation-catalog:hover .site-navigation-submenu,
.site-navigation-link:hover + .site-navigation-submenu,
.site-navigation-link:focus + .site-navigation-submenu  {
  display: grid;
}

.site-navigation-link {
  font-family: var(--font-family-gilroy);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.site-navigation-link[href]:hover,
.site-navigation-link[href]:focus,
.submenu-link[href]:hover,
.submenu-link[href]:focus {
  opacity: 0.6;
}

.site-navigation-link[href]:active,
.submenu-link[href]:active  {
  opacity: 0.3;
}

.search-form {
  display: flex;
  min-height: 50px;
  margin-right: auto;
}

.search-form-input {
  width: 360px;
  padding: 0;
  padding-left: 38px;
  border: 0;
  outline: none;
  font-family: var(--font-family-opensans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  opacity: 0.3;
}

.search-field {
  position: relative;
  min-height: 50px;
}

.search-field::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form:focus-within .search-form-input {
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

.search-form-button {
  width: 80px;
  font-family: var(--font-family-opensans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  outline: none;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

.search-form-input:focus ~ .search-form-button,
.search-form-button:focus,
.search-form-button:active {
  opacity: 1;;
}

.search-form-button:hover,
.search-form-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form-button:active {
  color: var(--basic-grey);
  background-color: var(--basic-black);
}

.user-block,
.market-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.inner-page .user-block {
  margin-right: 0;
}

.user-block {
  justify-content: space-between;
  margin-right: 151px;
}

.user-block .profile-link {
  margin-right: 20px;
}

.user-block .logout-link {
  padding: 0;
}

.market-block {
  justify-content: space-between;
  justify-self: end;
  width: 219px;
  margin-left: 63px;
}

.user-block a,
.market-block a {
  position: relative;
  padding-left: 26px;
}

.user-block a::before,
.market-block a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 100%;
  background-repeat: no-repeat;
}

.login-link::before,
.profile-link::before {
  background-image: url(../img/icon-user.svg);
  background-position: 4px center;
}

.compare-link::before {
  background-image: url(../img/icon-chart.svg);
  background-position: 3px center;
}

.cart-link::before {
  background-image: url(../img/icon-cart.svg);
  background-position: 3px center;
}

.main-footer .login-link::before,
.main-footer .profile-link::before {
  background-image: url(../img/icon-user-yellow.svg);
  background-position: 0 5px;
}

.main-footer .compare-link::before {
  background-image: url(../img/icon-chart-yellow.svg);
  background-position: 4px 7px;
}

.main-footer .cart-link::before {
  background-image: url(../img/icon-cart-yellow.svg);
  background-position: 3px center;
}

.user-block a:hover,
.user-block a:focus,
.market-block a:hover,
.market-block a:focus {
  opacity: 0.6;
}

.user-block a:active,
.market-block a:active {
  opacity: 0.3;
}

.promo-content {
  position: relative;
  margin-bottom: 96px;
}

.promo-slider {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider-controls {
  position: absolute;
  bottom: 150px;
  right: 108px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slider-controls button {
  position: relative;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider-controls .current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.promo-slider-item {
  position: relative;
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
  grid-template-columns: 525px 560px;
  column-gap: 44px;
  padding-left: 30px;
  background: linear-gradient(var(--special-yellow) 131px, var(--basic-white) 131px);
}

.promo-slider-item::before {
  content: "";
  position: absolute;
  font-family: var(--font-family-gilroy);
  font-size: 179px;
  line-height: 187px;
  font-weight: 800;
  color: var(--basic-white);
  z-index: -1;
}

.promo-slider-item:nth-child(1)::before {
  content: "01";
  right: 47px;
}

.promo-slider-item:nth-child(2)::before {
  content: "02";
  right: 54px;
}

.promo-slider-item:nth-child(3)::before {
  content: "03";
  right: 53px;
}

.slider-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 525px;
  min-height: 510px;
}

.slider-image-wrapper .slider-image-1 {
  margin-right: 22px;
  margin-bottom: 21px;
}

.slider-image-wrapper .slider-image-2 {
  margin-right: 8px;
  margin-top: 28px;
}

.slider-image-wrapper .slider-image-3 {
  margin-left: 2px;
  margin-bottom: 10px;
}

.active {
  z-index: 1;
}

.slider-item-info {
  padding-top: 95px;
  padding-left: 1px;
}

.promo-slider-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-text {
  margin: 0;
  margin-bottom: 52px;
  max-width: 480px;
  line-height: 20px;
}

.promo-slider-link.button {
  width: 225px;
}

.promo-slider-specification {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: min-content 1fr;
  column-gap: 63px;
  row-gap: 15px;
  max-width: 450px;
  margin: 0;
  margin-top: 52px;
  font-family: var(--font-family-gilroy);
  font-weight: 300;
}

.specification-name {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.specification-value {
  grid-row: 1/2;
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-gilroy);
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  outline: none;
}

.button:active {
  color: var(--special-black-active);
}

.categories {
  margin-bottom: 85px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-gilroy);
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-weight: 800;
  list-style: none;
}

.categories-link {
  display: block;
}

.link-fitness-tracker {
  letter-spacing: normal;
}

.categories-link svg {
  position: absolute;
}

.link-vr svg {
  top: 52px;
  left: 31px;
}

.link-monopod svg {
  top: 26px;
  left: 37px;
}

.link-camera svg {
  top: 36px;
  left: 44px;
}

.link-fitness-tracker svg {
  top: 48px;
  left: 27px;
}

.link-smart-watch svg {
  top: 31px;
  left: 52px;
}

.link-quadcopter svg {
  top: 46px;
  left: 14px;
}

.categories-item {
  position: relative;
  cursor: pointer;
}

.categories-item::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-yellow);
}

.categories-item:hover::before,
.categories-item:focus-within::before {
  background-color: var(--special-yellow-dark);
}

.categories-item:active .categories-link {
  opacity: 0.3;
}

.services {
  background: linear-gradient(var(--basic-white) 99px, var(--basic-grey-light) 99px);
  margin-bottom: 90px;
}

.services-inner {
  display: grid;
  grid-template-columns: 284px 1fr;
  align-items: start;
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 63px;
  padding-left: 20px;
}

.services-slider {
  display: grid;
  margin: 0;
  padding: 0;
  padding-left: 116px;
  list-style: none;
  order: 1;
}

.services-slider-item {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding-top: 70px;
  padding-bottom: 67px;
  background: linear-gradient(var(--basic-white) 99px, var(--basic-grey-light) 99px);
}

.service-title {
  margin-bottom: 41px;
}

.service-description {
  margin: 0;
  max-width: 580px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-controls {
  margin: 0;
  padding: 0;
  padding-top: 79px;
  padding-bottom: 54px;
  border-right: 7px solid var(--basic-black);
  list-style: none;
}

.services-controls-item {
  margin-bottom: 22px;
}

.services-controls-button.button {
  width: 160px;
  padding-left: 2px;
}

.services-controls-button:active,
.controls-item-current .services-controls-button {
  width: 280px;
  padding-right: 120px;
  color: var(--special-yellow);
  background: var(--basic-black);
}

.services-slider-item::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: right;
}

.item-delivery::after {
  right: 21px;
  top: 52px;
  background-image: url(../img/icon-delivery.svg);
}

.item-warranty::after {
  right: 4px;
  top: 49px;
  background-image: url(../img/icon-warranty.svg);
}

.item-credit::after {
  right: 28px;
  top: 41px;
  background-image: url(../img/icon-credit.svg);
}

.brands {
  margin-bottom: 88px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-link {
  display: block;
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-link:hover,
.brands-link:focus,
.brands-link:active {
  filter: none;
  opacity: 1;
}

.index-content {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

.about-us,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 57px;
  padding-bottom: 77px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us-title,
.contacts-title {
  margin-bottom: 40px;
}

.about-us-info {
  margin: 0;
  margin-bottom: 40px;
}

.about-us-list {
  margin-top: 20px;
  margin-bottom: 53px;
  padding-left: 18px;
  list-style: circle;
}

.about-us-list-item {
  padding-left: 14px;
  margin-bottom: 15px;
}

.contacts-info {
  margin: 0;
  margin-bottom: 40px;
}

.about-us-link,
.contacts-link {
  width: 260px;
  margin-top: auto;
}

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.page-title {
  grid-column: 1/-1;
  padding: 10px 60px;
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  grid-column: 1/-1;
  display: flex;
  padding: 0 60px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 18px;
  padding-right: 22px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
}

.breadcrumbs-link {
  opacity: 0.3;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.1;
}

.filters-title,
.sorting-title {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter {
  width: 200px;
  padding-left: 60px;
}

.filter ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  border: 0;
}

.filter fieldset:last-of-type {
  margin-top: 42px;
  margin-bottom: 47px;
}

.filters-form legend {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  margin-bottom: 30px;
  border-top: 2px solid var(--basic-black);
  font-family: var(--font-family-gilroy);
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.filter-option {
  padding-left: 43px;
}

.filter-option:not(:last-child) {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -39px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:hover::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus + label::after,
.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after {
  opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:active + label::after,
.filter-input-radio:active + label::before,
.filter-input-radio:active + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.25;
}

.filter-radio label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-range {
  width: 200px;
}


.range-controls {
  position: relative;
  margin-bottom: 16px;
  padding-top: 9px;
  padding-left: 10px;
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--special-grey-toggle);
  box-shadow: 0px 2px 2px var(--special-black-scale);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 108px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-black-scale);
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background-color: var(--special-green);
}

.filter-range .price-controls {
  font-family: var(--font-family-gilroy);
  font-size: 14px;
  line-height: 16px;
}

.price-controls label:not(:last-child) {
  margin-right: 15px;
}

.price-controls input {
  width: 55px;
  background: transparent;
  border: 0;
}

.filter-button {
  width: 200px;
}

.sorting-list,
.direction-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.sorting {
  position: relative;
  display: flex;
  min-height: 70px;
  align-items: center;
  padding-left: 74px;
  margin-bottom: 70px;
}

.sorting::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(50vw + 260px);
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.sorting-title {
  margin-right: 73px;
}

.sorting-list {
  width: 285px;
  margin-right: auto;
}

.direction-list {
  width: 52px;
}

.sorting-link {
  opacity: 0.3;
}

.sorting-link[href]:hover,
.sorting-link[href]:focus {
  opacity: 0.6;
}

.direction-link {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/delta.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.direction-link-descending {
  transform: rotate(180deg);
}

.direction-link[href]:hover,
.direction-link[href]:focus {
  opacity: 0.4;
}

.sorting-link[href]:active,
.direction-link[href]:active {
  opacity: 1;
}

.sorting-link-current,
.direction-link-current {
  opacity: 1;
  cursor: auto;
}

.filters {
  position: relative;
}

.filters::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50vw - 260px);
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.filters-title {
  position: relative;
  padding: 25px 0;
  padding-left: 60px;
  margin-bottom: 70px;
  z-index: 1;
}

.filters-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50vw - 260px);
  background-color: var(--special-grey-light);
  z-index: -1;
}

.catalog {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  align-content: start;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  column-gap: 40px;
  row-gap: 48px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content max-content;
}

.catalog-item-new::before {
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 2px solid var(--special-black-active);
  border-radius: 50%;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: var(--special-black-active);
  text-transform: uppercase;
  z-index: 1;
}

.catalog-item .image-wrapper {
  position: relative;
  grid-column: 1/-1;
  margin-bottom: 30px;
}

.image-wrapper:hover .catalog-item-controls,
.image-wrapper:focus .catalog-item-controls,
.image-wrapper:focus-within .catalog-item-controls {
  opacity: 1;
}

.catalog-item-image {
  width: 360px;
  height: 380px;
}

.image-wrapper:hover .catalog-item-image,
.image-wrapper:focus .catalog-item-image,
.image-wrapper:focus-within .catalog-item-image {
  opacity: 0.7;
}

.catalog-item-title {
  width: 270px;
  margin: 0;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  order: 1;
}

.catalog-item-price {
  width: 87px;
  text-align: right;
  font-family: var(--font-family-gilroy);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  order: 2;
}

.catalog-item-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.add-to-cart-link {
  width: 200px;
  margin-top: 170px;
  margin-bottom: 13px;
}

.add-to-compare-link {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.add-to-compare-link:hover,
.add-to-compare-link:focus {
  opacity: 1;
}

.add-to-compare-link:active {
  opacity: 0.2;
}

.pagination{
  display: flex;
  min-width: 760px;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 78px;
  margin-left: auto;
  list-style: none;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  background-color: var(--special-grey);
}

.pagination-item a {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link-number {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
}

.pagination-item:nth-last-child(-n+2) .pagination-link-number {
  margin-right: 0;
}

.pagination-link-back,
.pagination-link-next {
  min-width: 120px;
}

.pagination-item-back {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-link-back[href]:hover,
.pagination-link-next[href]:hover,
.pagination-link-back[href]:focus,
.pagination-link-next[href]:focus {
  background-color: var(--special-grey-hover);
}

.pagination-link-back[href]:active,
.pagination-link-next[href]:active {
  color: var(--special-black-active);
}

.pagination-link-number[href] {
  opacity: 0.3;
}

.pagination-link-number[href]:hover,
.pagination-link-number[href]:focus {
  opacity: 0.6;
}

.pagination-link-number[href]:active {
  opacity: 1;
}

.main-footer {
  padding-top: 45px;
  padding-bottom: 65px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}


.main-footer .container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto min-content;
  align-items: start;
}

.main-footer .container::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 14px;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.main-footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: 19px;
  margin-bottom: 40px;
}

.main-footer-logo path {
  fill: var(--special-yellow-dark);
}

.main-footer .user-block {
  justify-self: end;
  margin-right: 40px;
}

.main-footer .market-block {
  margin-left: 0;
}

.footer-address,
.footer-phone {
  margin: 0;
  max-width: 300px;
  line-height: 20px;
}

.footer-phone {
  margin-left: auto;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 426px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 60px;
  padding: 0;
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  opacity: 0.6;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-social {
  grid-column: 2/3;
  width: 136px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 5px;
  margin-left: 164px;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.social-link-facebook {
  background-image: url(../img/icon-facebook.svg);
}

.social-link-instagram {
  background-image: url(../img/icon-instagram.svg);
}

.social-link-twitter {
  background-image: url(../img/icon-twitter.svg);
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.footer-copyright {
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  opacity: 0.6;
}

.footer-copyright-link:active {
  opacity: 0.3;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0px 10px 16px var(--special-black-shadow);
  z-index: 10;
}

.modal-map {
  top: 120px;
  bottom: auto;
  width: 960px;
  height: 559px;
  background-image: url(../img/map-big.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-map .modal-close {
  top: 29px;
  right: 36px;
}

.modal-feedback {
  top: 120px;
  bottom: auto;
  width: 760px;
  padding: 0 100px;
  padding-top: 92px;
  padding-bottom: 60px;
  background-color: var(--basic-white);
}

.modal-feedback .modal-close {
  top: 20px;
  right: 20px;
}

.modal-feedback .button-submit {
  width: 200px;
  margin-top: 40px;
}

.feedback-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 32px;
}

.feedback-item input,
.feedback-item textarea {
  margin-top: 10px;
  padding: 15px;
  padding-left: 20px;
  width: 100%;
  border: 2px solid transparent;
  font-family: var(--font-family-opensans);
  font-size: 14px;
  line-height: 19px;
  background-color: var(--special-grey-input);
  box-sizing: border-box;
}

.feedback-item input {
  height: 50px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: var(--special-grey);
} 

.feedback-item input:focus,
.feedback-item textarea:focus {
  outline: none;
  background-color: var(--basic-white);
  border-color: var(--special-yellow);
} 

.modal-feedback label {
  font-family: var(--font-family-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.feedback-textarea-field {
  width: 760px;
}

.feedback-textarea {
  min-height: 167px;
}


.feedback-name-field,
.feedback-email-field {
  width: 360px;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  opacity: 0.3;
  background-color: var(--special-yellow-dark);
  background-image: url(../img/button-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}